@{
    ViewBag.Title = "basvurukonrol";
    
}

<h2>BAŞVURU KONROL PANELİ</h2>


<a href ="/Home/basvuruliste"  >
     <div class="submit-contact default-submit">
           <input type="submit" value="BAŞVURU LİSTELE" />
           
     </div>
  </a>  

    <br />

    <a href ="/Home/basvurusecilen"  >
     <div class="submit-contact default-submit">
           <input type="submit" value="SEÇİLEN BAŞVURULAR" />
           
     </div>

        </a>

<br />

        <a href ="/Home/cikis"  >
     <div class="submit-contact default-submit">
           <input type="submit" value="ÇIKIŞ YAP" />
           
     </div>

            </a>
