@model HR_SEFE.Models.admin

@{
    ViewBag.Title = "cikis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ÇIKIŞ YAPILDI..</h1>


            


     <a href ="/Home/uye" >
     <div class="editor-label" >
        <p>Tekrar giriş yap..</p> 

     </div>
          
     </a> 

