@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>

    
    
    Şirketimiz ve faaliyet gösterdiğimiz sektör hakkında bilgi almak isteyenler, sorularına bu sayfa üzerinden yanıt bulabilirler.


</p>

<p>

     Adres:
        
</p>

<p>
   
         Telefon: 
</p>
